.chat-input-container {
    padding: 15px;
    background-color: white;
    box-shadow: 0 -2px 15px rgba(0, 0, 0, 0.05);
    position: relative;
    z-index: 2;
    
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
}


.icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
}


.chat-input-wrapper {
    display: flex;
    align-items: center;
    background-color: var(--tertiary-color);
    border-radius: 30px;
    padding: 5px;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.03);
}

.attachment-button, .send-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    cursor: pointer;
    transition: var(--transition);
    border: none;
}

.send-button {
    background-color: var(--primary-color);
    color: white;
}

.attachment-button:hover, .send-button:hover {
    transform: scale(1.05);
}

.chat-input {
    flex-grow: 1;
    background: none;
    border: none;
    padding: 10px 15px;
    outline: none;
    font-size: 0.95rem;
    color: var(--text-color);
}