html {
    font-size: 20px;
}


:root {
    --primary-color: #2a7fff;
    --secondary-color: #e6f0ff;
    --tertiary-color: #f0f7ff;
    --success-color: #00c48c;
    --text-color: #2c3e50;
    --light-text: #7c8999;
    --border-radius: 12px;
    --box-shadow: 0 8px 30px rgba(0, 0, 0, 0.08);
    --transition: all 0.3s ease;

    --oponent-color: #9298e7;
    --oponent-border-color: #161485;
}


body {
    font-family: Arial, sans-serif;
    background-color: var(--secondary-color);
    margin: 0;
    padding: 0;
}

.message {
    border: 1px solid #bbb7b7;
    padding: 10px;
    margin: 10px 10px;

    border-radius: 20px;

    background-color: #d8d1d1;

    font-size: 1rem;

    width: 90%;
}
.message[data-type="my-message"] {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    text-align: right;
    margin-left: auto;

    border-top-right-radius: 4px;
}
.message[data-type="other-message"] {
    background-color: white;
    border-color: white;
    text-align: left;

    border-top-left-radius: 4px;
}


.message:last-child {
    margin-bottom: 200px; /* To avoid overlap with input area */
}



.message-text {
    font-size: 1em;
    color: var(--text-color);
}
.message[data-type="my-message"] .message-text {
    color: white;
}

.message-header {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 0.25em;
    margin-top: 0.25em;
    color: var(--text-color);
}
.message[data-type="my-message"] .message-header {
    color: white;
}


@media (max-width: 600px) {
    .message {
        width: 75%;
    }
}