html {
    font-size: 20px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.message {
    border: 1px solid #bbb7b7;
    padding: 10px;
    margin: 10px 10px;
    border-radius: 5px;
    background-color: #d8d1d1;

    font-size: 1rem;
}
.message[data-type="my-message"] {
    background-color: #bcdfcf;
    border-color: #0f5132;
    text-align: right;
}



.message-text {
    font-size: 1em;
    color: #333;
}
.message-header {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 0.25em;
    margin-top: 0.25em;
}

.input-area {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    padding: 10px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}
.input-area input[type="text"] {
    width: 80%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
}

#send-button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: #fff;
    cursor: pointer;
}